* {
    font-family: Courier, monospace;
    font-weight: bolder;
}

body {
    background-image: url("../images/flowerbackground.jpg");
    background-size: 1200px 1200px;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-image: linear-gradient(to right, #992592, #A73A64);

    color:white;
}

#footer-title {
    position: absolute;
    left:10%;
}

#footer-info {
    position: absolute;
    right:10%;
}

.container {
    background-color: #FFE6E6;
    border-width:10px; 
    border-style: solid;
    border-image: linear-gradient(to right, #AA36A3, #B84B75) 1;
}

.form-button {
    font-weight: bold;
    background-image: linear-gradient(to right, #AA36A3, #C95C86);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:hover {
    font-weight: bold;
    background-image: linear-gradient(to right, #BB47B4, #DA6D97);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:disabled {
    font-weight: bold;
    background-image: none;
    background-color: gray;
    color:black;
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}