* {
    font-family: Courier, monospace;
    font-weight: bolder;
}

body {
    background-image: url("../images/flowerbackground.jpg");
    background-size: 1200px 1200px;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-image: linear-gradient(to right, #992592, #A73A64);

    color:white;
    font-family: Courier, monospace;
    font-weight: bolder;
}

#footer-title {
    position: absolute;
    left:10%;
}

#footer-info {
    position: absolute;
    right:10%;
}

.container {
    background-color: #FFE6E6;
    border-width:10px; 
    border-style: solid;
    border-image: linear-gradient(to right, #AA36A3, #B84B75) 1;
}

.form-button {
    font-weight: bold;
    background-image: linear-gradient(to right, #AA36A3, #C95C86);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:hover {
    font-weight: bold;
    background-image: linear-gradient(to right, #BB47B4, #DA6D97);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:disabled {
    font-weight: bold;
    background-image: none;
    background-color: gray;
    color:black;
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.navbar {
    background-image: linear-gradient(to right, #992592, #A73A64);
    border-radius: 0px;
    border: none;
}


#home-link {
    color: white;
    font-weight: 900;
}

#home-link:hover {
    color: #333333;
    font-weight: 900;
    background-color: white;
}

.dropdown {
    display:inline-block;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 160px;
    position: absolute;
    right:10px;
    font-size: 18px;
}

.dropdown:hover {
    color: #333333;
    background-color: white;
}

.dropdown-content {
    display:none;
    position: absolute;
    right: 0px;
    width: 160px;
    z-index: 1;
    background-image: linear-gradient(to right, #992592, #A73A64);
}

.dropdown:hover .dropdown-content{
    display:block;
}

#greeting {
    font-weight: 900;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#logout-button {
    background-color: rgba(0,0,0,0);
    color:white;
    border:none;
    width:100%;
    height:50px;
}

#logout-button:hover {
    background-color: white;
    color:#333333;
}

#dropdown-item {
    background-color: rgba(0,0,0,0);
    color:white;
    border:none;
    width:100%;
    height:50px;
}

#dropdown-item:hover {
    background-color: white;
    color:#333333;
}

#dropdown-link:hover {
    text-decoration: none;
}