* {
    font-family: Courier, monospace;
    font-weight: bolder;
}


body {
    background-image: url("../images/flowerbackground.jpg");
    background-size: 1200px 1200px;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;

    min-height: 100vh;
    position: relative;
    top:0;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

.footer {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    bottom:0;
    height: 50px;
    background-image: linear-gradient(to right, #992592, #A73A64);

    color:white;
    font-family: Courier, monospace;
    font-weight: bolder;
}

#bootstrap-override {
    font-family: Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

#footer-title {
    position: absolute;
    left:10%;
    top: 19px;
}

#footer-info {
    position: absolute;
    right:10%;
    top: 19px;
}

.container {
    background-color: #FFE6E6;
    border-width:10px; 
    border-style: solid;
    border-image: linear-gradient(to right, #AA36A3, #B84B75) 1;
}

.form-button {
    font-weight: bold;
    background-image: linear-gradient(to right, #AA36A3, #C95C86);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:hover {
    font-weight: bold;
    background-image: linear-gradient(to right, #BB47B4, #DA6D97);
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.form-button:disabled {
    font-weight: bold;
    background-image: none;
    background-color: gray;
    color:black;
    height: 40px;
    width: 170px;
    border: none;
    font-size:18px;
}

.navbar {
    background-image: linear-gradient(to right, #992592, #A73A64);
    border-radius: 0px;
    border: none;
}


#home-link {
    color: white;
    font-weight: 900;
}

#home-link:hover {
    color: #333333;
    font-weight: 900;
    background-color: white;
}

.dropdown {
    display:inline-block;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 160px;
    position: absolute;
    right:10px;
    font-size: 18px;
}

.dropdown:hover {
    color: #333333;
    background-color: white;
}

.dropdown-content {
    display:none;
    position: absolute;
    right: 0px;
    width: 160px;
    z-index: 1;
    background-image: linear-gradient(to right, #992592, #A73A64);
}

.dropdown:hover .dropdown-content{
    display:block;
}

#greeting {
    font-weight: 900;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#logout-button {
    background-color: rgba(0,0,0,0);
    color:white;
    border:none;
    width:100%;
    height:50px;
}

#logout-button:hover {
    background-color: white;
    color:#333333;
}

#dropdown-item {
    background-color: rgba(0,0,0,0);
    color:white;
    border:none;
    width:100%;
    height:50px;
}

#dropdown-item:hover {
    background-color: white;
    color:#333333;
}

#dropdown-link:hover {
    text-decoration: none;
}

.button {
    color: black;
    font-weight: bold;
    background-image: linear-gradient(to right, #AA36A3, #C95C86);
    height: 40px;
    width: 180px;
    border: none;
    font-size:18px;

    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0;
    text-decoration: none;
}

.button:hover {
    background-image: linear-gradient(to right, #BB47B4, #DA6D97);
    text-decoration: none;
}

#actor-view {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 100%;
            height:fit-content;
            min-height:32vh;
    }

    #actor-pane {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;

        width:20%;
    }

    #actor-pane:hover {
        text-decoration: none;
    }

    #actor-pane:hover #actor-name {
        color: #333333;
        background-color: white;
    }

    #actor-image {
        height: 30vh;
        width: 100%;
        border-right: 1px solid black;
    }

    #actor-name {
        background-color: #777777;
        color:white;
        border-right: 1px solid black;
        flex: 1;
        margin: 0px;
    }

    #actor-name:hover {
        text-decoration: none;
    }

    #add-actor-button {
        text-align: center;
        background-color: #333333;
        color: white;
        text-decoration: none;

        width: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #add-actor-button:hover {
        text-decoration: none;
        background-color: #777777;
        color:#333333;
    }

    #section-title {
        font-weight: 700;
    }

    hr {
        border-color: #333333;
    }