<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/people_list.css' %}">

    <title>Actors</title>

    <style>
    </style>
</head>
<body>
    {% include '../blocks/header.html' %}

    <div class="container">
        <h1 id="title">Directors</h1>
        <div id="person-array">
            {% for director in directors %}
                <a href="{% url 'director-details' director.director_id %}" id="button-styles">
                <div id="person-pane" >
                    <img src="{{ director.image_url }}" alt="{{ director }}">
                    {{director}}
                </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="footer" id="bootstrap-override">
        <p id="footer-title">K-Drama App</h4>
        <p id="footer-info">© Group 12 Isaac Ahlborn, Daniel Myers, Zack Peterson, Stone Pollock, Matt Young</h4>
    </div>
</body>
</html>

